*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.navbar{
    width: 90%;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(166, 36, 196);
}
#menu{
    display: none;
}
@media screen and (max-width:980px) {
    .navbar{
        overflow: visible;
    }
    header{
        position: relative;
        color: black;
        border-radius: 10px;
          }
    button{
    
        position: absolute;
        left: 0;
    }
    .menu a{
        display: none;
    }
    #menu{
        padding: 5px;
        display: block;
        position: relative;
        left: -30px;
        background: transparent;
        border: none;
        outline: none;
        scrollbar-highlight-color: transparent;
    }
}
.logo{
    color: black;
    -webkit-text-stroke: 1px rgb(250, 248, 248);
    font-family: monospace;
    font-weight: bolder;
    font-size: 24px;
    position: relative;
}
.menu a{
    margin: 2px;
    padding: 4px;
    position: relative;
    left: -80px;
  text-decoration: none;
  color: rgb(251, 252, 252);
}
.menu a:hover{
    color: darkblue;
}
.btn{
    font-weight: bold;
    color: black;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    border: none;
    background-color: aqua;
    box-shadow: 0 0 10px rgb(7, 146, 177);
}
.head{
    color: red;
    font-size:36px;
}
.para{
    flex-wrap: wrap;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: 90%;
    padding: 20px;
    flex-grow: 1;
    overflow: visible;

}
.hills{
    position: relative;
    height: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.984);
    flex-grow: 1;
}
.hills:hover{
    transform: scale(1.05);
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    position: absolute;
    text-align: center;
    flex-wrap: wrap;
    color: aliceblue;
    -webkit-text-stroke: 2px black;

    
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
.mainpage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}
.fir-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 400px;
    width: 50%;
    margin-left: 15px;
    
}
.fir-div p{
flex-wrap: nowrap;
overflow: auto;
}

.imgf{
    position: relative;
    right: 0px;
    height: 500px;
    width: 500pX;
    margin: 20px;
}
@media screen and (max-width:500px) {
    .mainpage{
        flex-wrap: wrap;
        height: fit-content;
        max-width: 300px;
        overflow: hidden;
    }
    .imgf,.imge{
        position: relative;
        height: 250px;
        width: 250px;
        border: 2px solid;
    }
    .fir-div{
        height: fit-content;
        width: 90%;
        margin-left: 15px;
    }
    .coff{
        position: relative;
        left: 00px;
    }
    .fotter{
        flex-direction: column;
    }
    .common{
        flex-grow: 1;
    }
    .hills{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}
.coff{
    position: relative;
    text-align: left;
    left: 00px;
    font-weight: 1s900;
}
.sectiona{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
height: 300px;
width: 90%;
margin-left: 5%;
overflow: scroll;
flex-wrap: wrap;
}
.sectiona::-webkit-scrollbar{
    background: transparent;
    height: 2px;
}
.sectiona::-webkit-scrollbar-thumb{
    height: 4px;
    background: purple;
}
.diva{
    margin: 5px;
    height: 280px;
    width: 280px;
}
.secimg{
    height: 278px;
    width: 278px;
    background-size: cover;
}
.diva{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.diva:hover{
    transform: scale(1.05);
    overflow: hidden;
}
.staff{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
    height: fit-content;
    width: 90%;
    overflow: auto;
    flex-wrap: wrap;
}
.staffimg{
    height: 178px;
    width: 178px;
    background-size: cover;
    border-radius: 100px;
}
.staffimg:hover{
    transform: scale(1.05);
    overflow: hidden;
}

.divs{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bookz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 90%;
    padding: 10px;
}
.booka{
    flex-grow: 1;
    background: url('https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?cs=srgb&dl=clouds-cloudy-countryside-236047.jpg&fm=jpg');
    background-size: cover;

}
.bookc{
    background: url('https://th.bing.com/th/id/OIP.ia3f4sZZoGUj7vFAWEbIEgHaEK?pid=ImgDet&w=474&h=266&rs=1');
    background-size: cover;
    flex-grow: 1;
}
.bookb{
    background: url('https://th.bing.com/th/id/OIP.Pf2p3qw7OLntwU0Ld4tWewHaFj?rs=1&pid=ImgDetMain');
    background-size: cover;
    flex-grow: 2;
}
.b_{
    background: url('https://th.bing.com/th/id/OIP.gwvaCTBDdkKS-TU9IQcjngHaFj?rs=1&pid=ImgDetMain');
    background-size: cover;
    flex-grow: 2; 
}
.common{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black,
                0 0 20px black;
}
.common:hover{
    transform: scale(1.05);
}







::-webkit-scrollbar{
    background: transparent;
}
footer{
    text-align: center;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 90%;
    border-top: 2px solid black;
    overflow: hidden;
}
h5{
    font-size: 22px;
    font-family: monospace;
}
.about ul li{
    list-style-type: none;
}
.aboutc ul li{
    list-style-type: none;
}
