*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navbar{
    width: 90%;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(166, 36, 196);
}
#menu{
    display: none;
}
@media screen and (max-width:980px) {
    .navbar{
        overflow: visible;
    }
    header{
        position: relative;
        color: black;
        border-radius: 10px;
          }
    button{
    
        position: absolute;
        left: 0;
    }
    .menu a{
        display: none;
    }
    #menu{
        display: block;
        position: relative;
        left: -30px;
        background: transparent;
        border: none;
        scrollbar-highlight-color: transparent;
    }
}
.logo{
    color: black;
    -webkit-text-stroke: 1px rgb(250, 248, 248);
    font-family: monospace;
    font-weight: bolder;
    font-size: 24px;
    position: relative;
}
.menu a{
    margin: 2px;
    padding: 4px;
    position: relative;
    left: -80px;
  text-decoration: none;
  color: rgb(251, 252, 252);
}
.menu a:hover{
    color: darkblue;
}
.btn{
    font-weight: bold;
    color: black;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    border: none;
    background-color: aqua;
    box-shadow: 0 0 10px rgb(7, 146, 177);
}
h5{
    font-family: monospace;
    font-size: 40px;
}
.mainpage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}
.fir-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 400px;
    width: 50%;
    margin-left: 15px;
    
}
.fir-div p{
flex-wrap: nowrap;
overflow: scroll;
}

.imgf{
     position: relative;
    right: 0px;
    height: 500px;
    width: 500pX;
    margin: 20px;
}
@media screen and (max-width:600px) {
    .imgf,.imge{
        position: relative;
        max-height: 300px;
        max-width: 300px;
    }
    .fir-div{
        height: 300px;
        width: 200px;
        margin-left: 15px;
    }
    .coff{
        position: relative;
        left: 00px;
    }
}
.imge{
     
}
.coff{
    position: relative;
    text-align: left;
    left: 00px;
    font-weight: 1s900;
}
.sectiona{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
height: 300px;
width: 90%;
margin-left: 5%;
overflow: scroll;
flex-wrap: wrap;
}
.sectiona::-webkit-scrollbar{
    background: transparent;
    height: 2px;
}
.sectiona::-webkit-scrollbar-thumb{
    height: 4px;
    background: purple;
}
.diva{
    margin: 5px;
    height: 280px;
    width: 280px;
}
.secimg{
    height: 278px;
    width: 278px;
    background-size: cover;
}
.diva{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.staff{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
    height: fit-content;
    width: 90%;
    overflow: auto;
    flex-wrap: wrap;
}
.staffimg{
    height: 178px;
    width: 178px;
    background-size: cover;
    border-radius: 100px;
}

.divs{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}







::-webkit-scrollbar{
    background: transparent;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 170px;
    width: 90%;
    border-top: 2px solid black;
    overflow: auto;
}
h5{
    font-size: 22px;
    font-family: monospace;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style: square;
    margin: 5px;
    flex-wrap: wrap;
    height: 150px;
    width: 30%;
}
.about ul li{
    list-style-type: none;
}
.aboutc ul li{
    list-style-type: none;
}
